body {
	background-color: #fff0fe !important;
	display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
button:hover > .bi.bi-check2-square{
	color: #ff64f3 !important
}
.bi.bi-check2-square {
	color: white !important
}

select:disabled {
	background-color: #fff7fe !important;
	color:#999 !important
}
	
h4 {
	line-height: 2 !important
}
.message {
	background-color: #fff; 
	border-radius: 1.5em; 
	border: 1px solid #4158d0; 
	margin-bottom: 5%;
}
.message-body {
	padding: 1%;
}
.body-paragraph {
	padding-left: 1%;
}
.w-100 {
	width: 100% !important;
}
.notification {
	margin: 5% 0 !important;
	background-color: #ff64f3 !important;
	color: #fff !important;
	border-radius: 20px !important;
}
.offcanvas {
	background-color: #fff0fe !important;
	justify-content: center !important;
}
.alert-body {
	background-color: #ffc1ff!important;
	border-radius: 5px
}
.offcanvas-body {

}
.shadow-container {
	margin: 5% 0 !important;
	padding: 5vh 5vh !important;
	border-radius: 5vh !important;
	box-shadow: 0 0 50px 30px rgba(0,0,0,.1) !important;
}
.shadow-message {
	margin: 5% 0 !important;

}
.title {
	padding: 12vh 0 12vh 0 !important;
	background-color: #ff64f3 !important;
}
[id^="button-data-"] {
	display: none;
}
button.btn {
	transition: background-color .5s
}
button.btn:hover {
	border-color: #ff64f3 !important;
	color: #ff64f3 !important;
	background-color: #ffeffa !important;
}
::-moz-selection {
  color: white;
  background: #ff64f3;
}
h1, h3 {
	padding: 0 !important;
	color: white !important;
}
.nav-tabs {
	padding: 0 3vw !important;
	background-color: #ff64f3 !important;
	border-bottom: none !important;
}
.rosa{
	color: #ff64f3;
	font-weight: bold;
}
button.nav-link {
	background-color: #d6d2d6 !important;
	color: black !important;
	border-left: 1px solid #ff64f3 !important;
	border-right: 1px solid #ff64f3 !important;
	border-top: 1px solid #ff64f3 !important;
	border-bottom: none !important;
}
button.nav-link:focus, button.nav-link.active:focus {
	border-bottom: none !important;
}
button.nav-link.active {
	color: black !important;
	background-color: #fff0fe !important;
	border-bottom: none !important;
}

select.in {
	appearance: none;
	background-color: white;
	background-image: url("https://cdn-icons-png.flaticon.com/512/10017/10017905.png");
	background-repeat: no-repeat;
	background-size: 3%;
	color: #999999;
	background-position: right 3% top 53%;
}
.note-editor.note-airframe .note-statusbar, .note-editor.note-frame .note-statusbar {
	background-color: transparent !important;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-top: 0 !important
}
.panel-heading {
	display: flex !important;
	justify-content: center !important;
}
.note-editor.note-frame.panel.panel-default {
	border-radius: 25px;
	background-color: white;
	margin-top: 2%;
	border-color: #4158d0;
}
.note-icon-font.note-recent-color {
	background-color: #ff64f3 !important
}
button.note-btn.active {
	border-color: #ff64f3 !important;
	color: #ff64f3 !important;
	background-color: #ffeffa !important;
}
.note-icon-caret::before {
  content: "" !important;
}