<!DOCTYPE html>
<html>
	<head>
		<title>Ciao</title>
		<link rel="stylesheet" href="./css/styles.css">
	</head>
	<body>
		<h1>Finalmente cristo</h1>
		<h2>Il sito funziona</h2>
		<br>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
			ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
			laboris nisi ut aliquip ex ea commodo consequat.
		</p>
		
		<p><a href="index2.html">Index 2</a></p>
		<p><a href="auth/login.html">Login</a></p>
		<p><a href="error.html">Error</a></p>
		
	</body>
</html>